* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    font-family: helvetica;
    /* background-color: #808b96; */


}

#memory-game-board {
display: grid;
grid-template-rows: 1fr 3fr 1fr;
text-align: center;
/* justify-content: center; */
/* align-items: center; */
max-width: 1000px;
max-height: 400px;
/* width: 100vw; 
height: 100vh;  change or keep max width?  */
}

#main {
display: grid;
grid-template-columns: 1fr 4fr 1fr;
background-color: #808b96;
}

#footer {
background-color: darkgray;
}

#time-options, #matched-pairs {
background-color: darksalmon;
height: 800px;
}

#game-options {
background-color: darkgray;
height: 50px;
}


